<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP2-Exo3</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>

    <div id="vm">
    
        <h1 v-bind="displays-3">Liste des fuits</h1>
            
        {{currentFruit}}
    
        <ul>
            <li v-for='fruit in fruit' v-on:remove="todos.splice(index, 1)" > 
                <span v-on:click="changeCurrentFruit(fruit)">
                <span v-if="currentFruit === fruit"> <b> {{cross}} {{fruit}}</b> </span>
                <span v-else> {{fruit}}  </span></span>
            </li>
        </ul>
    </div>

    <script>
        Vue.component('fruit-item', {
            template: `
                <li>
                {{ fruit }}
                <button v-on:click="$emit(\'remove\')">❌</button>
                 </li>
                 `,
            props: ['fruit']
        })
    
        var vm = new Vue({
        el : '#vm',
        data:{
            fruit : ['Pomme', 'Orange', 'Fraise', 'Melon', 'Cerise'],
            currentFruit: 'Pomme ',
            
        },

        methods :{
            changeCurrentFruit: function(fruit){ 
                this.currentFruit = fruit 
            },


        },

        })
    </script>
    
</body>
</html>