<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP2-Exo3</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body>

    <style>
        ul {
            list-style-type: none;
        }

        #cross:hover {
            cursor: pointer;
        }
        
        h1{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 15px;
        }

        #vm{
            width: 250px;
            margin-left: auto;
            margin-right: auto;
        }

        #vm p{
            text-align: center;
            text-decoration: underline;
        }


    </style>

    <div id="vm">   

        <h1 v-bind="displays-3">List of fruits </h1>
        <p> {{currentFruit}} </p> 

        <ul>

            <li v-for='fruit, index in  fruits'>
                <span id="cross" @click="remove(index)">❌</span>
                <span v-on:click="changeCurrentFruit(fruit)">
                    <span v-if="currentFruit === fruit"> <b> {{fruit}}</b> </span>
                    <span v-else> {{fruit}} </span></span>


            </li>
        </ul>
    </div>

    <script>
        var vm = new Vue({
            el: '#vm',
            data: {

                fruits: ['Apple', 'Orange', 'Strawberry', 'Melon', 'Cherry'],
                currentFruit: 'Apple ',
            },

            methods: {
                changeCurrentFruit: function (fruit) {
                    this.currentFruit = fruit;
                },

                remove(index) {
                    this.$delete(this.fruits, index)
                },


            },

        })
    </script>

</body>

</html>