<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP2-Exo4</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<body>
    <div id="vm">

        <h1 v-bind="displays-3">Liste des cours</h1>
        <article >
            <li v-for="(cours, index) in cours" 
                v-bind:cours="cours"
                v-bind:index="index"
                v-bind:key="cours.id"> {{cours}}  </li>
            <br>
        </article>

    
        <input v-model="cours" type="text" placeholder="new cours">
        <button v-on:click="addNewCours">Add</button>


        <form v-on:submit.prevent="addNewCours">
            <input
                is = "cours-item"
                v-model="newCoursText"
                id="new-cours"
                placeholder="New cours"
            >
            <button>Add</button>
          </form>
    </div>


    <script>
        Vue.component('cours-item'), {
            template: `
            <li>
            {{ title }}
            <button v-on:click="$emit(\'remove\')">Supprimer</button>
            </li>
            `,

            props: ['title'],
        }

        var vm = new Vue({
        el : '#vm',
        data : {
            cours : ['Algorithmique', 'Structures de données', 'Programmation Web', 'Web Avancé', 'Frond-end Web Development', 'Asynchronous Event-Driven Programming with Node.js'],

            newCoursText:'', 
        },
        methods :{
            addNewCours : function(cours){
                this.cours.push()
            }
        }
    
         })
    </script>
    
</body>
</html>