<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP2-Exo5</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<style>
    ul {
        list-style-type: none;
    }

    h1 {
        text-align: center;
    }

    #app {
        margin-left: auto;
        margin-right: auto;
        width: 400px
    }

    span:hover{
        cursor: pointer;
    }

</style>

<body>

    <div id="app">
        <h1>OUR TODO LIST</h1>
        <form v-on:submit.prevent="addTodo">
            <input type="text" placeholder="Title" v-model="newTodoText">
            <input type="text" placeholder="Content" v-model="newTodoContent">
            <button>Add</button>
        </form>

        <ul>
            <li v-for="todo in todos" :key="todo.id">

                <span v-on:click="removeTodo(todo.id)">❌</span>

                <del v-if="todo.done">{{ todo.text }} | {{todo.content}}</del>
                <span v-else>{{ todo.text }} | {{todo.content}}</span>
                <input type="checkbox" v-model="todo.done">


            </li>
        </ul>
    </div>


    <script>

        new Vue({
            el: "#app",
            data: {
                todos: [{ text: '1st task', content: 'Difficult task', done: false, id: 0 },
                { text: '2nd task', content: 'Difficult task', done: false, id: 1 },
                { text: '3rd task', content: 'Difficult task', done: false, id: 2 }],
                nextTodoId: 3
            },
            methods: {
                addTodo() {
                    this.todos.push({
                        text: this.newTodoText,
                        content: this.newTodoContent,
                        done: false,
                        id: this.nextTodoId++,
                    })
                    this.newTodoText = '',
                    this.newTodoContent = ''

                },
                removeTodo(id) {
                    this.todos = this.todos.filter(todo => todo.id !== id)
                }
            }
        })
    </script>

</body>

</html>